.menu {
  //display: none;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 900;
  background: rgba(0, 0, 0, 0.38);
  width: 100%;
  overflow: hidden;


  @media screen and (max-width: 767px) {

  }


  &__form-wrap {
    max-width: 435px;
    display: flex;
    justify-content: flex-end;
    z-index: 900;
    position: fixed;
    top: calc((100vh - 670px) / 2);
    left: calc((100vw - 460px) / 2);
    background: #F9FBFF;
    border-radius: 10px;



    @media screen and (max-width: 767px) {
      top: 0;
      left: 0;
      border-radius:0;
      height: 100vh;
    }
  }

  &__close {
    margin: -10px -10px 0 0;
    background: #F9FBFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__form-logo {
    display: none;

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
     img {
       width: 140px;
     }
  }

  &__form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 90px;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 12px;
    margin-bottom: 40px;
  }

  &__header-login {
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #52575c;
    letter-spacing: -0.015em;
    background-color: transparent;
    transition: color .15s ease-in, background-size .15s ease-in;

    &:hover {
      color: #1e88db;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #0e65b7;
      border-radius: 2px 2px 0 0;
      transition: width .15s ease-in;
    }
  }

  &__header-reg {
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #52575c;
    background-color: transparent;
    transition: color .15s ease-in, background-size .15s ease-in;

    &:hover {
      color: #1e88db;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #0e65b7;
      border-radius: 2px 2px 0 0;
      transition: width .15s ease-in;

    }
  }


  &__form-form {
    padding: 50px 40px;
  }


  &__form-group {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    background: #F2F7FF;
    margin-bottom: 35px;
    border-bottom: 5px solid #E9F1FF;

  }

  &__form-input {
    width: 100%;
    border: 0;
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #CCD2E3;
    background: #F2F7FF;
  }

  ::-webkit-input-placeholder {
    color: #CCD2E3;;
  }


  &__form-group_password {
    position: relative;
  }

  &__password-control {
    position: absolute;
    top: 20px;
    right: 13px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./assets/icons/password-menu.svg) 0 0 no-repeat;
  }

  &__password-control.view {
    background: url(./assets/icons/no-view.svg) 0 0 no-repeat;
  }

  &__forgot-password a {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #2C80FF;
    margin-bottom: 40px;
  }


  &__form-description {
    display: flex;
    align-items: flex-start;
    grid-gap: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.015em;
    margin-bottom: 40px;

    a {
      color: #A0C6FF;
    }

    span {
      color: #B8B8B8;
    }
  }

  &__form-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 57px;
    background: #2C80FF;
    border-radius: 123px;
    margin-bottom: 40px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $link-hover;
      opacity: 0.8;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
    }
  }


  &__social-signin {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #B8B8B8;
    margin-bottom: 17px;
  }

  &__social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 22px;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    width: 36px;
    height: 36px;
  }

  &__form-footer {
    display: none;

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: -0.01em;
      text-decoration-line: underline;
      color: #D5D5D5;
    }
  }

}