$background: #fffffe;
$card-background: #f2f4f6;
$heading: #00214d;
$link: #4F5665;
$link-hover: #F53855;
$white: #ffffff;
$h: #2F2F2F;
$h3: #4F5665;
$text: #494949;
$text-gray: #575757;
$number: #001F7E;

$link-darkened: #ad001d;
$link-muted: #d98c99;
$text-muted: #abb1ba;


$bp-sm: 600px;
$bp-md: 700px;
$bp-lg: 1024px;