<section class="work">
    <div class="container">
        <div class="work__wrap">
            <h2 class="work__title">
                Как это работает
            </h2>
            <div class="work__item-wrap">
                <div class="work__item">
                    <div class="work__item-img">
                        <img src="url:./assets/icons/work-1.svg" alt="work-1">
                    </div>
                    <p class="work__item-subtitle">
                        Оцените привлекательность темы
                    </p>
                </div>
                <div class="work__item">
                    <div class="work__item-img">
                        <img src="url:./assets/icons/work-2.svg" alt="work-2">
                    </div>
                    <p class="work__item-subtitle">Выполните совместные исследования
                    </p>
                </div>
                <div class="work__item">
                    <div class="work__item-img">
                        <img src="url:./assets/icons/work-3.svg" alt="work-3">
                    </div>
                    <p class="work__item-subtitle">Улучшите написанную работу
                    </p>
                </div>
                <div class="work__item">
                    <div class="work__item-img">
                        <img src="url:./assets/icons/work-4.svg" alt="work-4">
                    </div>
                    <p class="work__item-subtitle">Продвиньте свою работу
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>