<section class="welcome">
    <div class="container">
        <div class="welcome__wrap">
            <div class="work__title-wrap">
                <h1 class="welcome__title">
                    <b>Сообщество взаимопомощи между учёными со всего мира</b>
                </h1>
                <p class="welcome__subtitle">
                    Удобный сервис, который подберёт для вас коллег и поможет наладить с ними взаимовыгодное сотрудничество в областях совместных исследований, соавторства, рецензирования и повышения индекса цитирования.
                </p>
                <p class="welcome__subtitle-mobile">
                    Аналитика, соавторство, рецензирование и продвижение научных работ.
                </p>
                <div class="welcome__button-group">
                    <a href="#" class="welcome__button">
                        Присоединиться
                    </a>
                </div>
                    <a href="#" class="welcome__button-mobile">
                        создать заявку
                    </a>
            </div>
            <div class="welcome__image">
                <img src="url:./assets/images/welcome.png" alt="welcome">
            </div>
        </div>
    </div>
</section>